
.left-nav{
    margin:0 10px 0 0;
    height: 927px;
    float: left;
    width: 80px;
    background:rgb(54, 61, 71);
}
.nav-logo{
    height: 50px;
    width: 80px;
    text-align: center;
    line-height: 50px;
    background: rgb(208, 222, 236);
    margin-bottom: 10px;
}
.nav-logo > img{
    height: 14px;
    width: 65px;
}
.nav-item{
    display: inline-block;
    width: 80px;
    height: 50px;
    border-bottom: 1px solid rgb(96, 110, 129);
    line-height: 50px;
    color: #fff;
}
.nav-item :hover{
    color:#fff;
    background: rgb(96, 110, 129);
}
.nav-item > li{
    padding-left: 10px;
}
.nav-item > li >span{
    display: inline-block;
}
.nav-home{
    background-size: 10px 10px;
    background: url("../img/home.png");
}
/* 右边内容 公用    开始*/
.right-content{
    background: rgb(245, 247, 250);
}
/* 右边内容 公用结束 */
/* 头部开始 */
.index-header {
    font: rgb(54, 61, 71);
    text-align: center;
    text-align: left;

}
.index-header > h2{
    font-size: 30px;
}
.user-data {
    margin-right: 10px;
    float: right;
}
.breadcrumb {
    height: 30px;
    padding-top:10px;
}

/* 头部结束 */
/* 控件部分开始 */
.index-controller{
    margin: 20px 0 10px 0;
    text-align: left;
}
.controllers {
  margin-right: 10px;
  line-height: 26px;
  height: 26px;
  width: 70px;
  text-align: center;
  background: rgb(54, 61, 71);
  border-radius: 3px;
  border: 0px;
  color: #fff;
}
.controllers:hover{
    box-shadow: 5px 5px  rgb(222, 224, 226); 
    text-decoration: underline;
  }
/* 控件部分结束 */
/* 数据显示部分 */
.data-table {
    margin-top: 10px;
    width: 1500px;
}
.data-table > img{
    width: 60px;
    height: 60px;
}
/* 数据显示部分结束 */
